/* General Styles  */

li {
	list-style-type: none;
}

ul {
	padding: 0 0 0 20px;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

a:hover {
	text-decoration: none;
}

#search {
	display: inline;
}

.sub-section {
	min-width: 370px;
	max-width: 700px;
	width: 45%;
	margin: 8px auto;
	background: #fff;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
	overflow: hidden;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #ECEFF1;
	font-family: "Roboto", sans-serif;
}

/* Nav Bar CSS */
.my-nav {
	background-image: linear-gradient(to bottom, #78909c 0%, #546e7a 100%);
	border-color: #455a64;
		box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.4);
}

.row {
	height: 100%;
}

#map {
	height: 100%;
}

.container-fluid {
	height: 900px;
	height: 100vh;
	padding: 0;
}

.btn-div {
	display: flex;
	float: right;
}

.my-btn {
	flex-grow:0;
	text-align: center;
	margin: 0 10px;
	font-size: 14px;
	background-image: linear-gradient(to bottom, #FFD54F 0, #FFC107 100%);
	float: right;
	border-color:#FFB300;
	border-radius: 4px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
		0 1px 1px rgba(0, 0, 0, .25);
}

.my-btn:hover {
	background-image: linear-gradient(to bottom, #FFC107 0, #FFA000 100%);
}

/* Left Sidebar Styles */
.top-divider {
	height: 10px;
	background: #cfd8dc;
	box-shadow: inset 0 -2px 10px #616161,
		inset 0 2px 5px #212121;
	margin: 0 0;
}

.sidebar-brand {
	background: #FFC107;
	line-height: 16px;
	text-indent: 30px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
		0 1px 1px rgba(0, 0, 0, .25);
	padding: 20px 0;
	box-shadow: 0 3px 2px #777;
}

.sidebar-title {
	font-size: 18px;
	display: inline;

}

#close {
	float: right;
	margin: 0 12px 0 0;
	color: #607D8B;
	font-weight: bold;
	border: 0;
	background: none;
	font-size: 20px;
	transition: all .2s ease-in-out;
}

#close:hover {
	transform: scale(1.5);

}

.directions {
	font-size: 15px;
	line-height: 15px;
	text-align: center;
}

.inline {
	display: inline;
}

.input-li {
	margin: 10px 0;
}

.ui-autocomplete { /* Solution from stackoverflow */
	position:absolute;
	cursor:default;
	z-index:1001 !important
}

#sidebar-wrapper { /* I'm piggy-backing an ID needed for toggle feature*/
	background: #cfd8dc;
	direction: rtl;
	box-shadow: 40px 0  77px 0 rgba(0, 0, 0, 0.22),
				27px 0  24px 0 rgba(0, 0, 0, 0.2),
				60px 0  77px 0 rgba(0, 0, 0, 0.2);
}

.my-input {
	width: 75%;
	margin: 0 10px 0 40px ;
	display: inline;
}

.food-image {
	border-radius: 15px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
		0 1px 8px 0 rgba(0, 0, 0, 0.12),
		0 3px 3px -2px rgba(0, 0, 0, 0.4);
}

#search-div {
	transition: all 0.5s ease;
	padding: 0 10px 0 10px;
}
.side-25 {
	width: 20%;
	float: left;
	position: relative;
	padding: 0 10px;
	min-height: 1px;
	cursor: pointer;
}

.side-75 {
	width: 80%;
	float: right;
	position: relative;
	padding: 0 15px;
	min-height: 1px;
}

.star {
	color: #607D8B;
	font-weight: bold;
	border: 0;
	background: none;
	font-size: 20px;
	transition: all .2s ease-in-out;
}
.star:hover {
	transform: scale(1.5);
}

.favorited {
	color:green;
}

.search-name {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 18px;
	text-decoration: none;
	color: #263238;
	text-indent: 20px;
	line-height: 20px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
		0 1px 1px rgba(0, 0, 0, .25);
}

.search-name:hover {
	text-decoration: none;
	color: #FFA000;
}

.search-name:active,
.search-name:focus{
	text-decoration: none;
}

hr {
	border: 1px solid #78909c;
	margin: 10px auto;
	background: #90a4ae;
	width: 85%;
	box-shadow: 2px 2px 10px #90A4AE;
}

.divider {
	height: 10px;
	box-shadow: inset 0 -2px 10px #607d8b,
		inset 0 2px 5px #607d8b;
	margin: 12px 0;
}

.info-row-top {
	display: flex;
	margin: 0 0 0 0;
	height: 25px;
	line-height: 35px;

}

.info-item {
	width: 13%;
	font-size:17px;
	text-align: center;
	border-right: 1px solid #78909c;
}

.info-cal {
	width: 22%;
	float: left;
}

.search-calorie-span {
	width: 60px;
	text-align: center;
	position: absolute;
	font-size: 18px;
	line-height: 15px;
	font-weight: bold;
	display: inline;
	margin: 0 0 0 8px;
	padding: 15px;
	background: #FFD54F;
	color: #607D8B;
	border-radius: 20px;
	transform: translate( 0px, 0px);
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.4),
		0 -16px 24px 2px rgba(0, 0, 0, 0.14),
		0 -6px 30px 5px rgba(0, 0, 0, 0.12),
		0 -8px 10px -5px rgba(0, 0, 0, 0.4);
}

.info-row-btm {
	display: flex;
	font-size: 0.8em;
}

.search-li {
	transition: all 0.5s ease;
}

/* HEADER Styles */
header {
	font-size: 50px;
	text-decoration: none;
	color: #37474F;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
		0 1px 1px rgba(0, 0, 0, .25);
}

.cheesy-trophy {
	margin:  0 2vw 0 3vw;

}

h1 {
	display: inline;
}

/* DATEVIEW Styles */
#date {
	text-align: center;
	font-size: 30px;
	vertical-align: center;
	line-height: 50px;
}

.date-div {
	margin: 0 auto;
}

.flanking-date {
	font-size: 0.6em;
	vertical-align: 3px;
	margin: 0 10px;
	transition: all 0.2s ease;
}

.flanking-date:hover {
	cursor: pointer;
	color:#FFC400;
	font-weight: bold;
	font-size: 0.65em;
}

.date-in-focus {
	margin: 0 3%;
}

#left-btn,
#right-btn {
color: #FFC400;
	font-weight: bold;
	border: 0;
	background: none;
	font-size: 30px;
	transition: all .2s ease-in-out;
}

#left-btn:hover,
#right-btn:hover {
	transform: scale(1.5);
}

/* First Row Sections */
.row-1 {
	display: flex;
	flex-wrap: wrap;
}

.row-2 {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.section-header {
 	background: #FFC107;
	line-height: 16px;
	text-indent: 30px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
		0 1px 1px rgba(0, 0, 0, .25);
	padding: 20px 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin: 0 0 10px 0;
}

h3 {
 	display: inline;
 }

 .header-btn {
 	float: right;
 	margin: 0 5% 0 0;
	color: #607D8B;
	font-weight: bold;
	border: 0;
	background: none;
	font-size: 30px;
	transition: all .2s ease-in-out;
}

.header-btn:hover {
	transform: scale(1.5);
}

.destroy {
	position: absolute;
	top: 25px;
	right: -5px;
	color: #CE7C7C;
	font-weight: bold;
	border: 0;
	background: none;
	font-size: 20px;
	transition: all .2s ease-in-out;
}

.destroy:hover {
	transform: scale(1.5);
}

.text-btn {
	background-image: linear-gradient(to bottom, #FFD54F 0, #FFC107 100%);
	float: right;
	margin: 0 35px 20px 20px;
	font-size: 20px;
	border-color:#FFB300;
	border-radius: 4px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
		0 1px 1px rgba(0, 0, 0, .25);
}

.text-btn:hover {
		background-image: linear-gradient(to bottom, #FFC107 0, #FFA000 100%);
}

.sum-row {
	display: flex;
	width: 100%;
}

.sum-col {
	margin: auto;
	text-align: center;
}

.sum-sub {
	font-size: 20px;
	margin: 0;
}

.big {
	font-size: 80px;
	font-weight: 900;
}

.test {
	width: 100%;
}

#donut {
	position: relative;
	margin: 0 10px 0 0;
}

.donut-text {
	position: absolute;
	top: 65px;
	left: 0px;
	text-align: center;
	width: 200px;
}

.calorie-small {
	font-size: 50px;
	font-weight: 700;
}

.graph-left {
	text-shadow: 0 0 3px #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.graph-consumed {
text-shadow: 0 0 3px #fff;
	font-weight: bold;
	text-transform: uppercase;
}

/* Totals Styles */
@keyframes graph-transition { /* Customized animation definition */
	0% {width: 0px;}
	100% {}
}

.totals-bar {
	height: 10px;
	position: absolute;
	background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
	margin: 0 0 5px 0;
	animation: graph-transition 2s cubic-bezier(0.35,0.95,0.67,0.99);
}

.base-bar {
	position: relative;
	overflow: hidden;
	display: block;
	border-radius: 3px;
	background-color: #F3F3F3;
	height: 10px;
	width: 100%;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35)
}

#shame-red {
	background-image: linear-gradient(to bottom, #DA6D6A 0, #9A413E 100%);
}

#totals-view {
	margin: 0 20px 0 0;
}

#success-gold {
	background-image: linear-gradient(to bottom, #FFBF00 0, #BF9B30 100%);
}

.right-unit {
	float: right;
}

/* Trends Styles */

#trends {
	overflow: hidden;
}

.graph-title {
	font-size: 25px;
}

#line-graph {
	margin: auto;
	display:block;
	transition: all 0.3s ease-in-out;
}

/*   Responsive Styles Radio Button bar and size of sidebar columns
The first deals with the awkward transition from 2 colums back to 1 */
@media screen and  (max-width: 1222px) {
	#line-graph {
		transform: scale(0.8) translateX(-50px);
		transform-origin: top center;
	}
}


@media screen and (max-width: 975px) {
	.big {
		font-size: 60px;
	}
	.hide-tog {
		display: none;
	}
	.info-item {
		width: 25%;
	}

	.info-cal {
		width: 30%
	}
	#line-graph {
		transform: scale(0.7) translateX(-125px);
		transform-origin: top center;
	}


}

@media screen and (max-width: 767px) {
	.side-25 {
		width: 25%;
		padding: 0 10px;
	}

	.side-75 {
		width: 75%;
		padding: 0 10px 0 5px;
	}

	.hide-tog {
		display: block;
	}

	.info-item {
		width: 13%;
	}

	.info-cal {
		width: 22%
	}

	.my-input {
		margin: 0 8px 0 10px;
		width: 83%;
	}

	.flanking-date {
		display: none;
	}

	.sub-section {
		width: 92%;
		margin: 8px auto;
	}
	.big {
		font-size: 80px;
	}
	#line-graph {
		transform: none;

	}
}
@media screen and (max-width: 610px) {
	#line-graph {
		transform: scale(0.8) translateX(-55px);
		transform-origin: top center;
	}
}
@media screen and (max-width: 500px) {
	.my-btn {
		padding: 6px 8px;
	}

	.sub-section {
		width: 98%;
		min-width: 300px;
	}

	.hide-tog {
		display: none;
	}
	.info-item {
		width: 25%;
	}

	.info-cal {
		width: 30%
	}
	ul {
		padding: 0 0 0 10px;
	}

	#line-graph {
		transform: scale(0.7) translateX(-140px);
		transform-origin: top center;
	}

	.x-axis,
	.y-axis {
		display: none;
	}

	.big {
		font-size: 60px;
	}
}
@media screen and (max-width: 359px) {
	#line-graph {
		transform: scale(0.6) translateX(-40px);
		transform-origin: top left;
	}