<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Tracker Project</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/lib/simple-sidebar.css">
    <link rel="stylesheet" href="css/lib/jquery-ui.min.css">
     <link rel="stylesheet" href="css/old.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top my-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Health Tracker Project</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <div data-bind="foreach: arrayOfArrays " class="form-group btn-div">
                        <button data-bind="click: $parent.setCurrentList.bind($data, $index()), text: $parent.buttonArray[$index()]" class="btn btn-success my-btn">CategoryButton</button>
                    </div>
                    <div class="radio-divider"></div>
                    <div class="small-div">
                        <input type="text" placeholder="Type here to Filter by Name" class="form-control my-input" data-bind="textInput: currentFilter">
                        <div data-bind="foreach: filteredPlaces" id="small-list">
                            <div class="row">
                                <img src="" class="small-img-div" alt="place image" data-bind="attr: {src: photoUrl}">
                                <a data-bind="text: name, click: $parent.setFocus, css: { longString: name.length > 21 }" class="small-place-name" href="#"></a><span data-bind="text: rating(), style: { background: rating() < 4.5 ? '#0D47A1' : '#43A047'}" class='small-rating'></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul id="sidebar" class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Select your favorite food or search for a new food
                    </a>
                    <div class="divider"></div>
                    <p class="directions">Choose another category above or filter current results</p>
                </li>
                <li>
                    <input type="text" placeholder="Type here to Filter by Name" class="form-control my-input" id="autocomplete"><button id="search">🔍</button>
                </li>

                <li id="before-search" class="divider"></li>
                    <div id="search-div">
                        <ul id="search-ul">
                            <li class="search-item">
                                <h3 class="search-name">Broccoli </h3>
                                <button>★</button>
                                <span class="search-calorie-span">314</span>
                                <hr>



                            </li>

                        </ul>


                    </div>
                <!--ko foreach: { data: filteredPlaces, beforeRemove: slideAway, afterRender: fade }  -->
                    <li>
                        <div class="row place-entry">
                            <div class="side-25">
                                <img src="" class="img-div" alt="place image" data-bind="attr: {src: photoUrl}">
                            </div>
                            <div class="side-75">
                                <a data-bind="text: name, click: $parent.setFocus" class="place-name" href="#"></a>
                                <p data-bind="text: address"></p>
                                <p data-bind="text: phone"> </p>
                                <a href="#" data-bind="text: wikiURL, attr: {href: wikiURL}"></a>

                            </div>
                        </div>
                        <div class="row">
                            <ul data-bind="foreach: reviewsArray, fadeIn: showReviews">
                                <li data-bind="text: text" class="reviews"></li>
                                <hr>
                            </ul>
                        </div>
                    <div class="divider"></div>
                    </li>
                <!-- /ko -->
            </ul>
        </div>
        <section id="todoapp">
            <header id="header">

                <input id="new-todo" placeholder="What needs to be done?" autofocus>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="footer"></footer>
        </section>
        <div id="info">
            <p>Double-click to edit a todo</p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </div>



        <section id="foodApp">
            <header id="header">
                <h1>Food App</h1>
            </header>
            <section id="food-main">
                <div class="food-list-header">
                    <h3>Food List</h3>
                </div>
                <ul id="food-list"></ul>

            </section>
            <section id="totals-view">

            </section>

        </section>

    </div>
    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
            <label><%= title %></label>
            <button class="destroy"></button>
        </div>
        <input class="edit" value="<%= title %>">

    </script>

    <script type="text/template" id="stats-template">
        <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
        <ul id="filters">
          <li>
            <a class="selected" href="#/">All</a>
          </li>
          <li>
            <a href="#/active">Active</a>
          </li>
          <li>
            <a href="#/completed">Completed</a>
          </li>
        </ul>
        <% if (completed) { %>
        <button id="clear-completed">Clear completed (<%= completed %>)</button>
        <% } %>
    </script>


    <script type="text/template" id="food-template">
        <div class="view">
            <label><%= foodName %></label>
            <button class="destroy">Destroy</button>
            <span>   <%= calories %> Calories </span>
        </div>
    </script>

     <script type="text/template" id="totals-template">
        <ul>
          <li>
            Calories: <%= calorieTotal %>
          </li>
          <li>
            Fats:
          </li>
          <li>
            Protein:
          </li>
        </ul>
    </script>

    <script type="text/template" id="search-item-template">
        <h3 class="search-name"><%= foodName %> </h3>
        <button>★</button>
        <span class="search-calorie-span"><%= calories %></span>
        <hr>

    </script>




    <script src="js/lib/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="js/lib/backbone.localStorage.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
    <!-- BackboneFire -->
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/models/todo.js"></script>
    <script src="js/collections/todos.js"></script>
    <script src="js/views/todos.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/routers/router.js"></script>

    <script src="js/app.js"></script>

    <script src="js/models/food.js"></script>
    <script src="js/collections/foodList.js"></script>
    <script src="js/collections/searchResults.js"></script>

    <script src="js/views/foodView.js"></script>
    <script src="js/views/totalsView.js"></script>
    <script src="js/views/searchItemView.js"></script>
    <script src="js/views/sidebarView.js"></script>
    <script src="js/views/foodListView.js"></script>


    <script src="js/foodApp.js"></script>



</body>
</html>
